<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>

<h1>New dose</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <% if @dose.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @dose.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit "Add a dose", class: "btn btn-primary" %>
<% end %>
